img {
  width: 250px;
}

li {
  list-style-type: none;
}


.groceryDiv {
  width: 250px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20%;
}

/* #google_translate_element {
  padding: 5px;
  width: 50%;
} */

.skiptranslate {
  width: 50%;
}

.goog-te-gadget-simple nav{
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}

span {
  display: none;
}

.logoAnchor {
  width: 10%;
  margin-left: 2vw;
  margin-top: 2vh;
}

.logo {
  width: 100%;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.appName {
  align-self: center;
}
